JWT_PINATA_CLOUD=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoibmhhbnZvIiwiaWF0IjoxNTE2MjM5MDIyfQ.5NXsfyWzJMLm8anVQa1KbTmj5BuGyfFQrSaEKT9wNro
NEXT_PUBLIC_RELAYER_ACCOUNT_ID_NEAR_MAINNET=legal-shirt.near
RELAYER_PRIVATE_KEY_NEAR_MAINNET=ed25519:2cdGDmencm3FaaHpDYydsUpmqXB5DRyN85Kn9McXa2DfFjgqxMHSydiZQrVRKELFuF9JabCYy6F7x7r56rRKepcv
BLUNT_PRIVATE_KEY_MAINNET=ed25519:xnEfT2jbP1ErEDwpEBVnDezeLGb3hkvA7m24iJGFppXHK1d1VgAcPdgBpgJWg6rMBS88gw5DnfQ5GJYyV22gHxA
NEXT_PUBLIC_NETWORK_ID=mainnet
RPC_MAINNET=https://rpc.mainnet.near.org
KITWALLET_MAINNET=https://api3.nearblocks.io/v1/kitwallet
REFFINANCE_MAINNET=https://api.ref.finance/list-token-price
SOCIAL_NEAR_MAINNET=social.near
SOCIAL_NEAR_TESTNET=v1.social08.testnet
MINTBASE_API_MAINNET=https://api.mintbase.xyz
MINTBASE_GRAP_MAINNET=https://graph.mintbase.xyz/mainnet
MINTBASE_API_TESTNET=https://surface-api-testnet-z3w7d7dnea-ew.a.run.app
MINTBASE_GRAP_TESTNET=https://graph.mintbase.xyz/testnet
GENADROP_TESTNET=genadrop-test.mpadev.testnet
GENADROP_MAINNET=nft.genadrop.near
BLUNT_MAINNET=nft.bluntdao.near
BLUNT_SPUTNIK_DAO_MAINNET=blunt.sputnik-dao.near
PROXY_ADDRESS=0.minsta.proxy.mintbase.near
CONTRACT_ADDRESS=drops.mintbase1.near