@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
    overflow:hidden;
}

.title{
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 2px;
    margin: 0px 8px;
    padding: 0px 4px;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 4px;
    font-size: 12px;
    color: rgb(238, 238, 238);
    background: #2f2649;
    backdrop-filter: blur(2px);
    -moz-box-pack: justify;
    justify-content: space-between;
    gap: 4px;
}
.sub-title{
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-length{
    display: flex;
    opacity: 0.6;
    font-weight: 800;
    color:white;
}
.toastify{
    bottom: 4rem !important;
}

.copy-text:before{
    content: "Copied";
    position: fixed;
    /* bottom: -40px;
    right: -15px; */
    top: 51px;
    right: 30%;
    background: #b5afff;
    padding: 0.2rem 0.6rem;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

@media screen and (max-width:468px) {
    .copy-text:before{
        top: 51px;
        right: 23%;
    }
}

.copy-text:after{
    content:"";
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #b5afff;
    transform: rotate(45deg);
    z-index: 50;
}
.copy:before{
    content: "Copied";
    position: absolute;
    bottom: -40px;
    right: 5px;
    background: #b5afff;
    padding: 0.2rem 0.6rem;
    border-radius: 25px;
    font-size: 0.8rem;  
    font-weight: bold;
    color: white;
}
.copy:after{
    content:"";
    position: absolute;
    bottom: -20px;
    right: 30px;
    width: 10px;
    height: 10px;
    background: #b5afff;
    transform: rotate(45deg);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #180E35;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}

.card{
    display: flex;
    flex-direction: column;
    width: 408px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    /* box-shadow: 0px -2px 0px #fff inset; */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    &:hover {
        text-decoration: none;
        /* cursor: pointer; */
    }
    @media screen and (max-width: 768px) {
        width: 340px;
    }
    min-height: 429px;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    overflow: hidden;
}

.card-body {
    position: relative;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.card-img {
    height: 150px;
    min-height: 150px;
    width: 100%;
    object-fit: cover;
}

.card-title {
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-description {
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    flex-grow: 1;
}

.card-tag {
    color: #fff;
    width: max-content;
    white-space: nowrap;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px -1px 0px 0px #c7c7c7 inset, 0px 0px 0px 0.5px #c7c7c7;
    border: 1px solid #c7c7c7;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.card-tag-container{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.card-avatar{
    position: absolute;
    top: -20px;
    left: 24px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
}

.card-footer{
    border-top: 1px solid #fff;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-donate{
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.donation-button{
    padding: 12px 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: #fef6ee;
    border-radius: 6px;
    border: none;
    box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2) inset, 0px 0px 0px 1px rgba(0,0,0,0.2); 
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    &:hover {
        background: rgb(2, 71, 199);
        color: #fff;
    }
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }
    50% {
    opacity: 0.4;
    }
    100% {
    opacity: 1;
    }
}

.card-skeleton-container{
    display: flex;
    flex-direction: column;
    height: 447px;
    width: 380px;
    max-width: 380px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    /* box-shadow: 0px -2px 0px #fff inset; */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-left: auto;
    margin-right: auto;
    animation-name: skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.header-skeleton{
    display: block;
    width: 100%;
    height: 168px;
    border-radius: 12px;
    background: rgba(17, 25, 40,0.5);
}

.profile-image-skeleton{
    background: rgba(17, 25, 40,0.8);
    margin-left: 15px;
    transform: translateY(148px);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 999px;
}

.title-skeleton{
    width: 120px;
    height: 20px;
    background: rgba(17, 25, 40,0.5);
    margin-left: 24px;
    margin-top: 40px;
}

.description-skeleton{
    width: 83%;
    height: 48px;
    background: rgba(17, 25, 40,0.5);
    margin-left: 24px;
    margin-top: 24px;
}

.tag-skeleton{
    background: rgba(17, 25, 40,0.5);
    border-radius: 4px;
    height: 34px;
    width: 110px;
    margin: 24px;
}

.footer-item-skeleton{
    width: 150px;
    height: 40px;
    background: rgba(17, 25, 40,0.5);
    @media screen and (max-width: 390px) {
        width: 100px;
    }
}

.donations-info-container-skeleton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    border-top: 1px rgba(17, 25, 40,0.9) solid;
}

.donations-info-item-skeleton{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}

.alert{
    display: flex;
    padding: 0.75rem 1rem;
    color: #ed464f;
    gap: 1rem;
    align-items: center;
    border: 1px solid #f4b37d;
    border-radius: 6px;
    background: #fef6ee;
    margin-top: 1.5rem;
    div {
        font-size: small;
        font-weight: 500;
    }
    .icon {
        width: 22px;
    }
}
.verify{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #ecc113;
    background: #fbf9c6;
    box-shadow: 0px 2px 1px 1px rgba(255, 255, 255, 0.8) inset,
        0px -2px 4px 0px rgba(15, 15, 15, 0.15) inset;
    font-size: 12px;
    color: #3f2209;
    margin-top: 1.5rem;
    .icon {
        width: 17px;
        display: flex;
        height: fit-content;
        svg {
        width: 100%;
        }
    }
    .text {
        flex: 1;
        line-height: 150%;
    }
    a {
        font-weight: 500;
        color: #dd3345;
        :hover {
        text-decoration: none;
        }
    }
    @media only screen and (max-width: 480px) {
        flex-wrap: wrap;
        a {
        width: 100%;
        text-align: center;
        }
    }
}

.sm{
    @media screen and (max-width: 380px) {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
}